@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

@font-face {
    font-family: monument;
    src: url(monumentbold.ttf);
}

html {
    font-family: monument;
    background: rgb(253, 254, 246);
    border: 3px solid black;
}

.container {
    text-align: center;
}