/* this is to load fonts both from google and from my fonts folder which I downloaded from the internet*/
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

@font-face {
    font-family: 'Monument Heavy';
    src: url(assets/fonts/PPMonumentExtended-Black.otf);
}

@font-face {
    font-family: 'Monument Light';
    src: url(assets/fonts/PPMonumentExtended-Light.otf);
}

@font-face {
    font-family: 'Roobert';
    src: url(assets/fonts/Roobert-Regular.ttf);
}

@font-face {
    font-family: 'Roobert Bold';
    src: url(assets/fonts/RoobertBold.otf);
}

@font-face {
    font-family: 'Larsseit';
    src: url(assets/fonts/Larsseit-ThinItalic.otf);
}

@font-face {
    font-family: 'Mono';
    src: url(assets/fonts/SpaceMono-Regular.ttf);
}

/* this creates a thin border surrounding the screen as you scroll */
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    border: 3px solid #000000;
    z-index: 9999;
}

.tab-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-buttons {
    display: flex;
}

.image-buttons {
    display: flex;
    padding-right: 20px;
}

/* this makes the image grow bigger as I hover over the button */
.tab-button-image {
    border: none;
    cursor: pointer;
    background-color: white;
    padding: 20px 20px;
    transition: transform 0.2s ease;
}

.tab-button-image:hover {
    transform: scale(1.1);
}

.tab-button {
    font-family: 'Roobert', sans-serif;
    font-size: 20px;
    padding: 20px 50px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

/* on hover, the font becomes bold */
.tab-button:hover {
    font-family: 'Roobert Bold', sans-serif;
}

.title-space {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 3px solid #000000;
    background: rgb(203, 255, 222);
    padding: 13% 150px;
}

.text-container {
    line-height: 1px;
    display: flex;
    flex-direction: column;
}

#title1 {
    font-size: 120px;
    font-family: 'Monument Heavy', sans-serif;
    margin-bottom: 5%;
    /* margin bottom adds space between my words on top of each other */
}

#title2 {
    font-size: 120px;
    font-family: 'Monument Heavy', sans-serif;
    margin-bottom: 5%;
}

#title3 {
    font-size: 120px;
    font-family: 'Monument Heavy', sans-serif;
}

#one-line-description {
    font-family: 'Larsseit', sans-serif;
    font-size: 30px;
    margin-top: 15%;
}

.image-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: auto;
}

#g8chuan {
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 20px;
    margin-right: 20px;
}

#g10chuan {
    border-radius: 20px;
    border: 2px solid black;
}

/* I want to edit my pictures on a mobile view only so the pictures don't stick out of the border */
@media only screen and (max-width: 1000px) {

    .title-space {
        display: block;
    }

    .image-container {
        margin-top: 20%;
    }

}


.aboutme {
    border: 3px solid #000000;
    border-top: 0px solid #000000;
    background: rgb(209, 255, 250);
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutme_heading {
    font-family: 'Monument Heavy', sans-serif;
    text-align: center;
    font-size: 75px;
    padding-bottom: 30px;
}

#aboutme_info {
    font-family: 'Mono', sans-serif;
    font-size: 25px;
    width: 60%;
    line-height: 60px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(239, 255, 187);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    /* this is needed for the animation below, which basically floats my div up and down */
    animation: float 3s ease-in-out infinite;
}

/* this makes my about me div float up and down */
@keyframes float {

    0%,
    100% {
        transform: translateY(10);
        /* these translation values indicate how far I float my div (x y coordinates) */
    }

    50% {
        transform: translateY(-30px);
    }
}

.hobbies {
    border: 3px solid #000000;
    border-top: 0px solid #000000;
    background: rgb(209, 240, 255);
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hobbies_heading {
    font-family: 'Monument Heavy', sans-serif;
    text-align: center;
    font-size: 75px;
    padding-bottom: 30px;
}

/* this makes a table with a heading and data section */
#hobbies_table {
    font-size: 20px;
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* this adjusts the table heading and table data */
#hobbies_table th,
#hobbies_table td {
    font-size: 30px;
    border: 2px solid black;
    padding: 15px;
    text-align: left;
    font-family: 'Monument Light', sans-serif;
}

#hobbies_table th {
    background-color: rgb(239, 255, 187);
    border-bottom: 3px solid black;
    /* the border bottom only needs to be 3px because I already have a border between divs */
    font-family: 'Monument Heavy', sans-serif;
}

#hobbies_table tr {
    background-color: #ffffff;
}

#hobbies_table tr:hover {
    background-color: #fffee1;
    font-weight: 1000;
}